*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* common style */
.container{
  max-width:1320px;
  margin: 0 auto;
}
.btn-primary{
 background-color: #1D4ED8;
 color: #fff;
 padding: 12px 25px;
 font-weight: 700;
 border: none;
 border-radius: 10px;
}
img{
  width:100%;
  object-fit: cover;
}

/* header-area-styling */
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo-area .logo-image{
 width: 100%;
 object-fit: cover;
}

/* nav styling */
nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
    margin-right: 10px;
}
nav ul li a{
text-decoration: none;
display: block;
padding: 10px 15px;
font-weight: 500;
color: #575757;
text-transform: capitalize;
}

/* banner-area styling start */
.banner-area{
  background-image: linear-gradient(90deg,rgba(0,0,0,.9),rgba(0,0,0,0)), url('./assets/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
  height:786px;
}
.banner-content h2{
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -3.2px;
  color: #fff;
  text-align: center;
}
.banner-content p{
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255,.9);
}